.boxLogin{
    background-color: orange;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.boxInput{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.boxInput input{
    max-width: 200px;
}
.boxRadio label{
    display: flex;
    flex-direction: row; 
    max-height: 20px; 
}
.boxRadio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.boxRadio input{
    width: 50px;
  
}
.boxBut{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.linkBut{
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 10px rgb(238, 99, 0);
}