@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;0,700;1,500&display=swap');
*{
    font-family: 'Mali', cursive;
}

.PerfilRestaurante{
    background-color: orange;
    margin: 20px;
    padding: 20px;
    border-radius: 5%;
}
.SearchHi{
    margin: 20px;
}
.SearchHi1{
    text-decoration: none;
    font-size: 30px;
    color:black;
}

.booking{
    background-color: orange;
    margin: 20px;
    padding: 20px;
    border-radius: 5%; 
    margin-bottom: 10px;
}
.booking2{
    margin: 20px;;
}